.create_user_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.forms{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}