.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label{
    padding: .7em;
    border-radius: 0;
    border: none;
    color: #000;
    font-weight: bold;
}

.form_control input{
    padding:10px;
    width: 600px;
}

.form_control input::placeholder{
    color: #7B7B7B;
}