.cardGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: #DEDEDE;
    width: 250px;
    height: auto;
    margin: 10px;
    padding: 20px;
    border: 1px solid #CCC;
    font-family: Helvetica;
    text-align: center;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.desenvolvedora {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

.imagem {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}
