.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding-right: 20px;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.item{
    margin-right: 1em;
    color: white;
    transition: .4s;    
}

.item:hover{
    color: #ffee00;
    font-size: 115%;
}

.logo{
    width: 120px;
}

.navbar a{
    text-decoration: none;
}

.createUserBtn {
    background-color: #ffee00;
    color: black;
    font-weight: 650;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-left: auto; 
  }
  
  .createUserBtn:hover {
    background-color: #ffd000;
  }